DATACANT_CONTEXT=http://0.0.0.0:3333/ontology/0871/Datacant/v2#
DSP_EMAIL=root@example.com
DSP_PASSWORD=test
DSP_HOST=http://0.0.0.0:3333
INGEST_HOST=http://0.0.0.0:3340
EDDB_TOKEN=****************************************
RDFH_PROJECT_URL=http://rdfh.ch/projects/xxxxxxxxxxxxxxxxxxxxxx
USE_DASCH_CACHE=True
