BASE_URL=http://localhost:3333
DATACANT_CONTEXT=http://0.0.0.0:3333/ontology/0871/Datacant/v2#
EDDB_TOKEN=****************************************
RDFH_PROJECT_URL=http://rdfh.ch/projects/xxxxxxxxxxxxxxxxxxxxxx
DSP_USER=root@example.com
DSP_PASSWORD=test
DSP_HOST=https://api.dasch.swiss
